html,body {
	height: 100%;
}
.icon {
	text-align: center;
	margin: 50px;
}
.icon:hover {
	cursor: pointer;
}

#app {
	width: 100%;
	height: 100%;
}

.modal-backdrop {
	z-index: 3000;
}

.modal {
	z-index: 3001;
}
